@font-face {
    font-family: 'georgia';
    src: url("../fonts/Georgia.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'georgia';
    src: url("../fonts/Georgia-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'arial';
    src: url("../fonts/ARIALMT.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

body {
    margin: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;

}

header {
    padding: 28px 0px 0px 40px;
    background-image: url(./img/start-screen-gradient-background.jpg);

}
.wrapper {
    padding-top: 0px;
    display: flex;
}

header a {
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrapper {
    padding-top: 0px;
    display: flex;
}
header .right-block {
    position: relative;
}
header .right-block img {
    position: absolute;
    bottom: 0px;
    left: 35px;
}

.logo {

    font-size: 32px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.logo-desc {
    margin-top: 10px;
    margin-left: 4px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.menu {
    display: flex;
    list-style: none;

}

.menu li {
    margin-right: 40px;
}

h1 {
    font-family: "Georgia";
    padding-top: 225px;
    padding-left: 0px;
    font-size: 44px;
    line-height: 57px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #545454;
}

p {
    font-family: "arial";
    width: 465px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding-top: 12px;
    line-height: 23px;
    letter-spacing: 0.0em;
}
header p {
    color : white;

}


.header-button {
    color: #545454;
    background-color: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    border: none;
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 245px;
}

.about {
    padding-bottom: 95px;
}

.about .left-block {
    padding-top: 80px;
    padding-left: 210px;
}

.about .right-block {
    padding-top: 65px;
    padding-left: 118px;
}

.about-text {
    width: 420px;
    margin-top: -17px;
}

h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
}

.our-friends {
    background-color: #F6F6F6;
    padding-bottom: 95px;

}

.our-friends-title {
    text-align: center;
    margin-top: -13px;
}

.pet-list {
    display: flex;
    list-style: none;
    padding-left: 145px;
    padding-top: 15px;
}

.pet-list li {
    margin-right: 90px;
}

.pet-list h3 {
    text-align: center;
    padding-top: 8px;
}

.pet-button {
    color: #1a1918;
    border-style: outset;
    border-radius: 100px;
    background-color: #f8f5f2;
    padding: 14px 45px;
    border: 2px solid #f1cdb3;
    font-size: 18px;
    margin-top: 14px;
    margin-left: 42px;
}

.Get-button {
    color: #0a0400;
    border-style: outset;
    border-radius: 100px;
    background-color: #f8f5f2;
    padding: 14px 47px;
    border: 2px solid #f1cdb3;
    font-size: 18px;
    margin-top: 72px;
    margin-left: 510px;
}

.how-you {
    padding-top: 95px;
    padding-bottom: 24px;
}

.wrapper-2 {
    display: flex;
}

.help-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 15px;
    flex-wrap: wrap;
}

.help-list li {
    margin: 0 65px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 37px;
}

.help-list h4 {
    text-align: center;
    padding-top: 10px;
}

.wrapper-3 {
    display: flex;
}

.donate {
    padding-bottom: 89px;
    background-color: #F6F6F6;
}
.donate p   {
    width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    padding-top: 20px;

}
.donate .left-block {
    padding-top: 92px;
    padding-left: 180px;

}

.donate .right-block {
    padding-top: 53px;
    padding-left: 32px;

}

h5 {
    margin-top: -10px;
}

.donate .right-block a {
    display: flex;
    padding-left: 11px;
    padding-top: 8px;
}

.donate .right-block span {
    padding-left: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

footer {
    background-image: url(./img/footer-gradient-background.png);
    display: flex;
    justify-content: space-between;
}

footer .left-block {
    padding-left: 40px;
    padding-top: 26px;
}

footer .center-block {
    margin-left: -7px;
    padding-top: 26px;
}

footer .center-block h2 {
    padding-bottom: 0px;
    margin-bottom: 24px;
}
footer .center-block li:first-child {
    padding-bottom: 33px;
}

footer .right-block {
    padding-right: 39px;
    padding-top: 38px;
}

footer ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
    margin: 0;
}

footer li {
    padding-bottom: 40px;
}
footer li a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    display: flex;
    align-items: center;
}
footer .description {
    padding-left: 20px;

}

.header2 {
    display: flex;
    justify-content: space-between;
    padding: 28px 0px 40px 40px;
}

.our-friends h2 {
    padding-top: 95px;
}
.wrapper3   {
    padding-left: 350px;
}

.pet-list-up {
    display: flex;
    list-style: none;
    padding-left: 145px;
    padding-top: 15px;
}

.pet-list-up li {
    margin-right: 90px;
}

.pet-list-up h3 {
    text-align: center;
    padding-top: 8px;
}